
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link href="~/Content/HomeStyle.css" rel="stylesheet" />

<main class="warpper-main-content">
    <div class="section-index-slider" id="home-slider">
        <div class="slider-container">
            <div class="slider-owl owl-carousel owl-loaded owl-drag" id="slider-owl">
                <div class="slider-top">
                    <a href="">
                        <img src="https://file.hstatic.net/1000281824/file/ee400e442f6df233ab7c1_eba88f00fdbe433280b9b76ab933c391.jpg" style="width: 1140px; height: 642px; padding-left: 25px" />
                    </a>
                    <a href="">
                        <img src="https://file.hstatic.net/1000281824/file/16.9___coffee_bag___350bd93629374c8da3ce6c862d33c0df.png" style="width: 1140px; height: 642px; padding-left: 25px" />
                    </a>
                    <a href="">
                        <img src="https://file.hstatic.net/1000281824/file/z4515045070084_0909283f3004b66af6ddc3e79eb60d57_43c2ea07ec0e4eee91c132648bdf8454.jpg" style="width: 1140px; height: 430px; padding-left: 25px"/>
                    </a>
                    <a href="">
                        <img src="https://file.hstatic.net/1000281824/file/10_989c651beea742a291c119feb27bf7e0.png" style="width:1140px; height:762px;padding-left:25px"/>
                    </a>
                </div>
                <div class="slider-bottom">
                    <button class="active" role="button"></button>
                    <button role="button"></button>
                    <button role="button"></button>
                    <button role="button"></button>
                </div>
                <div class="slider-top-btn">
                    <div class="prev"><i class="fa-solid fa-circle-chevron-left"></i></div>
                    <div class="next"><i class="fa-solid fa-circle-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</main>

